@import 'config';
@import 'testimonials';
@import 'text-rated';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    font-size: 15px;
    line-height: 1.6;
    background-color: $white;
    
}

.main-container {
    max-width: 1440px;
    max-height: 100vh;
    padding: 100px 166px;
    display: flex;
    flex-direction: column;
    background-image: url(/images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;

}
